{% extends "base.html"%}{% block content %}
<h1> welcome to dashboard</h1>
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="service_requests"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const counts={{ count_dict | tojson}}; 
    
    const ctx = document.getElementById('service_requests');

    new Chart(ctx, {
        
        type: 'bar',
        data: {
            labels: ['Requested', 'Assigned', 'Closed'],
            datasets: [{
                label: 'Number of request',
                data: [counts.pending,counts.accepted,counts.closed],
                borderWidth: 1,
                backgroundColor: ['#5DA5DA', '#00FF00', '#D10000'],

                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: ['#8DB9E5','#66FF66','#FF4C4C'],
                    pointHoverRadius: 5

            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{%endblock%}