{% extends "base.html" %} {% block title %}{% endblock %} {% block content
    %}
    <form method="POST" enctype="multipart/form-data">

        <h3>Login</h3>
  
        <div class="input-group mt-4 w-100 form-group">
          <select class="form-select form-control" id="role" name="role" onchange="toggleFields()">
            <option style="width: 50%;">Choose your role</option>
            <option value="service">Service Professional</option>
            <option value="customer">Customer</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" />
        </div>
        <div class="form-group">
            <label for="fullname">Full Name</label>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Full Name" />
          </div>
          <div class="input-group mt-4 w-100 form-group" id="serviceField">
            <label for="service_name">Select Your Service</label>
            <select class="form-select form-control"  name="service_name" id="service_name">
              <option selected disabled>Select your service</option>
              {% for service in services %}
              <option>{{service.name}}</option>
          {% endfor %}
            </select>
          </div>
          <div class="form-group" id="dataField">
            <label for="file">Document</label>
            <input type="file"  accept=".pdf" class="form-control" id="file" name="file" placeholder="Upload Related Document" />
          </div>
          <div class="form-group" id="descriptionField">
            <label for="description">Description</label>
            <input type="text" class="form-control " id="description" name="description" placeholder="Enter Description" />
          </div>
          <div class="form-group">
            <label for="adress">Adress</label>
            <input type="text" class="form-control" id="adress" name="adress" placeholder="Enter Adress" />
          </div>
          <div class="form-group">
            <label for="pincode">Pincode</label>
            <input type="number" class="form-control" id="pincode" name="pincode" placeholder="Enter Postal Code" />
          </div>
          <div class="form-group">
            <label for="exp">Experience(in yeras)</label>
            <input type="number" class="form-control" id="exp" name="exp" placeholder="Enter Experience" />
          </div>
          
        <br />
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
      <script>
        function toggleFields() {
            const userType = document.getElementById('role').value;
            const dataField = document.getElementById('dataField');
            const descriptionField = document.getElementById('descriptionField');
            const serviceField = document.getElementById('serviceField');    
    
            if (userType == "customer") {
                dataField.classList.add('hidden');
                descriptionField.classList.add('hidden');
                serviceField.classList.add('hidden');    
            }else{
              dataField.classList.remove('hidden');
                descriptionField.classList.remove('hidden');
                serviceField.classList.remove('hidden');    
            }
            
        } 
        document.addEventListener('DOMContentLoaded', toggleFields);
        </script>
      {% endblock %}
